{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block head %}

<link rel="stylesheet" href="{% static '/css/index.css' %}" />

{% endblock head %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}



{% block content %}
<div class="row justify-content-center">
    <table class="table table-bordered  col-xl-10 col-md-10 col-sm-12 col-12">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Date</th>
                <th>Sens history</th>
            </tr>
        </thead>
        <tbody>
            {% for each in sensors %}
            <tr>

                <td>{{ each.name }}</td>
                <td><meter min="{{ each.min_value }}" max="{{ each.max_value }}" low="50"
                    optimum="25" high="0" value="{{ each.sensor_history.last.value }}"></meter></td>

                <td>{{ each.sensor_history.last.date }}</td>
                <td><a href="{% url 'sens_item' each.slug %}">Edit</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


<!-- <td>{{ each.min_value }}%</td>
<td>{{ each.sensor_history.last.value }}%</td>
<td>{{ each.max_value }}%</td>

<th>Max Value</th>
<th>Min Value</th>
 -->
