{% extends "base.html" %}


{% block content %}

    <h2>{{ data.last.sensor }}</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Value</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            {% for each in data %}

                <tr>
                    <td>{{ each.value }}</td>
                    <td>{{ each.date }}</td>
                    <td><a href="{% url 'sens_item_edit' slug each.id %}">Edit</a></td>
                    <td><a href="{% url 'sens_item_del' slug each.id %}">Del</a></td>
                </tr>


            {% endfor %}


        </tbody>
    </table>
{% endblock content %}
