{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb item.sensor.name 'sens_item' slug %}
{% endblock %}



{% block content %}

    <h2>{{ data.last.sensor }}</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Value</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            {% for each in data %}

                <tr>
                    <td>{{ each.value }}%</td>
                    <td>{{ each.date|date:'d F Y H:i:s' }}</td>
                    <td><a href="{% url 'sens_item_edit' each.id %}">Edit</a></td>
                    <td><a href="{% url 'sens_item_del' each.id %}">Del</a></td>
                </tr>


            {% endfor %}


        </tbody>
    </table>
{% endblock content %}
